.Split-screen {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  text-align:center;
}

.Swap-from {
  float: left;
  width: 35vw;
  height: 80vh;
  text-align:center;
  background-color: blue;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 5vw;
}

.Swap-to {
  float: right;
  width: 35vw;
  height: 80vh;
  text-align:center;
  background-color: red;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 5vw;
  margin-right: 10vw;
}

.Swap-logo {
  height: 25vmin;
  pointer-events: none;
  border-radius: 255vmin;
}

.Swap-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1;
}
